/*.offerCounter div{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:1rem;
    color: #ff0000;   
    background-color:#fff;
    padding:0.5rem;
    border-radius:1rem;
    user-select:none;
}

.offerCounter svg{
    font-size:3.5rem;
}

.offerCounter h2{
    font-size:2rem;
}*/