.productDescription img{
    width:35rem;
    height:35rem;
}
.productDescription p{
    font-size:1.4rem;
    text-align:left;
    font-weight:550;
    padding: 0 1.5rem;
    width:28rem;
}

@media(max-width:550px){
    .productDescription img{
        width:20rem;
        height:20rem;
    }
}